<ion-header>
  <ion-toolbar>

    <ion-buttons class="back" slot="start" routerLink="/home/student/student-list">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Record Temperature</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-header>
    <ion-card-title>Temperature</ion-card-title>
  </ion-card-header>

  <ion-card-content class="temp">
    <ion-grid>
      <ion-row>
  
        <ion-col class="col1">
          <ion-card class="c1">
            <h1>35.0</h1>
          </ion-card>
          <ion-card class="c2">
            <h1>36.0</h1>
          </ion-card>
          <ion-card class="c3">
            <h1>37.0</h1>
          </ion-card>
          <ion-card class="c4">
            <h1>38.0</h1>
          </ion-card>
          <ion-card class="c5">
            <h1>39.0</h1>
          </ion-card>
          <ion-card class="c6">
            <h1>40.0</h1>
          </ion-card>
          <ion-card class="c7">
            <h1>41.0</h1>
          </ion-card>
        </ion-col>
  
        <ion-col class="col2">
          <ion-card class="c1">
            <h1>0.0 °C</h1>
          </ion-card>
          <ion-card class="c2">
            <h1>0.1 °C</h1>
          </ion-card>
          <ion-card class="c3">
            <h1>0.2 °C</h1>
          </ion-card>
          <ion-card class="c4">
            <h1>0.3 °C</h1>
          </ion-card>
          <ion-card class="c5">
            <h1>0.4 °C</h1>
          </ion-card>
          <ion-card class="c6">
            <h1>0.5 °C</h1>
          </ion-card>
          <ion-card class="c7">
            <h1>0.6 °C</h1>
          </ion-card>
          <ion-card class="c8">
            <h1>0.7 °C</h1>
          </ion-card>
          <ion-card class="c9">
            <h1>0.8 °C</h1>
          </ion-card>
          <ion-card class="c10">
            <h1>0.9 °C</h1>
          </ion-card>
        </ion-col>
  
      </ion-row>
    </ion-grid>  
  </ion-card-content>

  <ion-card-header>
    <ion-card-title>Illness</ion-card-title>
  </ion-card-header>

  <ion-card-content class="ill">
    <ion-grid fixed>
      <ion-row>

        <ion-col class="col1">
          <ion-card>
            <img alt="flu" src="/assets/img/stomach ache.png" />
            <ion-card-header>
              <ion-card-title class="h1">STOMACH ACHE</ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <img alt="flu" src="/assets/img/chicken pox.png" />
            <ion-card-header>
              <ion-card-title class="h2">CHICKEN POX</ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <img alt="flu" src="/assets/img/red eyes.png"/>
            <ion-card-header>
              <ion-card-title class="h3">RED EYES</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
  
        <ion-col class="col2">
          <ion-card>
            <img alt="flu" src="/assets/img/slight fever.png" />
            <ion-card-header>
              <ion-card-title class="h1">SLIGHT FEVER</ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <img alt="flu" src="/assets/img/high fever.png" />
            <ion-card-header>
              <ion-card-title class="h2">HIGH FEVER</ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <img alt="flu" src="/assets/img/flu.png" />
            <ion-card-header>
              <ion-card-title class="h3">FLU</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
  
      </ion-row>
    </ion-grid>

    <form>
      <ion-list>
        <h1>Other Findings</h1>
        <ion-item lines="full">
          <ion-input type="text" placeholder="Dizzy"></ion-input>
        </ion-item>
        <ion-button class="butcolor" type="submit" expand="block">SUBMIT</ion-button>
      </ion-list>
    </form>

  </ion-card-content>
  
</ion-content>



