::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    }

    ion-toolbar{
        --background: var(--primary);

       ion-title {
        color: var(--putih);
        font-size: large;
        font-family: "poppins";
       }

       .back{
        font-size: xx-large;
        color: var(--putih)
       }

    }
   
    ion-content {
        --background:url('/assets/img/bg.png') no-repeat center center/cover;
        height: 100%;
        width: 100%;

        ion-card-header {
            ion-card-title {
                font-family: 'poppins';
                color: var(--hitam);
                letter-spacing: 1px;
                font-size: large;
            }
        }
    
        ion-card-content.temp {
            ion-grid {
                ion-row {
                    ion-col.col1 {
                        ion-card.c1 {
                            background-color: #ffee58;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        ion-card.c2 {
                            background-color: #ffeb3b;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        ion-card.c3 {
                            background-color: #fdd834;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        ion-card.c4 {
                            background-color: #fbc02d;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        ion-card.c5 {
                            background-color: #f9a725;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        ion-card.c6 {
                            background-color: #f57f16;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        ion-card.c7 {
                            background-color: #e64919;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        
                    }
    
                    ion-col.col2 {
                        ion-card.c1 {
                            background-color: #fff8e1;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        } 
                        ion-card.c2 {
                            background-color: #f5e3ab;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        ion-card.c3 {
                            background-color: #ffe082;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        ion-card.c4 {
                            background-color: #ffd44f;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        ion-card.c5 {
                            background-color: #ffca27;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        ion-card.c6 {
                            background-color: #ffc009;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        ion-card.c7 {
                            background-color: #ffb300;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        ion-card.c8 {
                            background-color: #ff9f00;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        ion-card.c9 {
                            background-color: #ff8e00;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                        ion-card.c10 {
                            background-color: #ff6e00;
                            width: 60%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-radius: 0px;
                            h1 {
                                text-align: center;
                                font-size: medium;
                                font-family: 'poppins';
                                color: var(--hitam);
                            }
                        }
                    }
                }
            }
    
        }

        ion-card-content.ill {
            ion-grid {
                ion-row {
                    ion-col.col1 {
                        ion-card {
                            width: 110%;
                            padding: 15px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            background-color: var(--primary);

                            ion-card-title {
                                font-size: 10px;
                                font-family: 'poppins';
                                margin-top: 5px;
                                margin-bottom: 3px;
                                text-align: center;
                            }
                        }
                    }
                    ion-col.col2 {
                        ion-card {
                            width: 110%;
                            padding: 15px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            background-color: var(--primary);

                            ion-card-title {
                                font-size: 10px;
                                font-family: 'poppins';
                                margin-top: 5px;
                                margin-bottom: 3px;
                                text-align: center;
                            }
                        
                        }
                    }
                    ion-col.col3 {
                        ion-card {
                            width: 110%;
                            padding: 15px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            background-color: var(--primary);

                            ion-card-title {
                                font-size: 10px;
                                font-family: 'poppins';
                                margin-top: 5px;
                                margin-bottom: 3px; 
                                text-align: center;    
                            }
                        
                        }
                    }
                }
            }

            form {
                ion-list {
                    background: transparent;
                    h1 {
                        font-size: large;
                        font-family: 'poppins';
                        margin-bottom: 10px;
                        margin-top: 10px;
                        text-align: center;
                    }
                    ion-item {
                        width: 90%;
                        margin-left: auto;
                        margin-right: auto;
                        padding: 0px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        ion-input {
                            color: var(--hitam);
                            font-family: 'poppins';
                            font-size: small;
                        } 
                    }
                    ion-button.butcolor{
                        width: 40%;
                        padding: 5px;
                        margin-left: auto;
                        margin-right: auto;
                        --background: var(--primary);
                        font-weight: bold;
                        letter-spacing: 1px;
                    }
                }
            }

        }

    }
    

   
   
    
  
