::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
    }

    ion-toolbar{
        --background: var(--primary);
       font-family: "nexa";
    

    }
    .back{
        font-size: x-large;
    }
    ion-content{
        --background:url('/assets/img/bg.png') no-repeat center center/cover;
        overflow: hidden;
        --overflow: hidden;
        margin-top: 10px;
    }