::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
    }

    ion-toolbar{
        --background: var(--primary);

       ion-title {
        color: white;
        font-size: 20px;
        font-family: "poppins";
        text-align: center;
       }

       ion-icon {
        font-size: xx-large;
        color: white;
       }

    }
   
    ion-content {
        --background:url('/assets/img/bg.png');
        overflow: hidden;
        --overflow: hidden;

        ion-grid {
            padding: 15px;
            ion-row {
                ion-col.teacher {
                    ion-card.teacher{
                        display: contents;
                    }
                }
                ion-col.student {
                    ion-card.student {
                        display: contents;             
                    }
                }
                ion-card.visitor {
                    display: contents;
                    align-items: center;
                }
            }
        }

    }

