<ion-header>
  <ion-toolbar>

    <ion-buttons class="back" slot="end" (click)="nextpage()">
      <ion-icon name="log-in-outline" ></ion-icon>
    </ion-buttons>

    <ion-title>Anak2U</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="teacher" routerLink="/home/teacher">
    <ion-card-header>
      <!--<h1>TEACHER</h1>-->
    </ion-card-header>
  </ion-card>

  <ion-card class="student" routerLink="/home/student">
    <ion-card-header>
      <!--<h1>STUDENT</h1>-->
    </ion-card-header>
  </ion-card>

  <ion-card class="visitor" routerLink="/home/visitor">
    <ion-card-header>
      <!--<h1>VISITOR</h1>-->
    </ion-card-header>
  </ion-card>
</ion-content>
