::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
    }

    ion-toolbar{
        --background: var(--primary);

       ion-title {
        color: white;
        font-size: 20px;
        font-family: "poppins";
        text-align: center;
       }

       ion-icon {
        font-size: xx-large;
        color: white;
       }

    }
   
    ion-content {
        --background:url('/assets/img/bg.png');
        overflow: hidden;
        --overflow: hidden;

        ion-grid {
            ion-row {
                ion-col.teachervisitor {
                    ion-card.teacher{
                        --background:url('/assets/img/teacher.png');
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 420%;
                        margin-left: auto;
                        margin-right: auto;
                        border-radius: 15px;
                        margin-top: 20px;
                    }
                    ion-card.visitor{
                        --background:url('/assets/img/visitor.png') no-repeat;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 200%;
                        height: 420%;
                        margin-left: auto;
                        margin-right: auto;
                        border-radius: 15px;
                        margin-top: 10px;
                    }
                }
                ion-col.student {
                    ion-card.student {
                        --background:url('/assets/img/student.png') no-repeat;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 420%;
                        margin-left: auto;
                        margin-right: auto;
                        border-radius: 15px;
                        margin-top: 20px;
                    }
                }
            }
        }

    }

