::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
    }

    ion-toolbar{
        --background: var(--primary);

       ion-title {
        color: white;
        font-size: large;
        font-family: "poppins";
        letter-spacing: 2px;
       }

       .back{
        font-size: xx-large;
        color: white;
       }

    }
   
    ion-content {
        --background:url('/assets/img/bg.png');
        overflow: hidden;
        --overflow: hidden;
        margin-top: 10px;
    

        ion-card.teacher{
            --background:url('/assets/img/teacher.png') no-repeat ;
            background-size: cover;
            width: 80%;
            height: 20%;
            margin-left: auto;
            margin-right: auto;
            h1{
                font-family: "poppins";
                color: white;
                text-align: center;
                font-size: xx-large;
            }
        }

        ion-card.student{
            --background:url('/assets/img/student.png') no-repeat;
            background-size: cover;
            width: 80%;
            height: 22%;
            margin-left: auto;
            margin-right: auto;
            h1{
                font-family: "poppins";
                color: white;
                text-align: center;
                font-size: xx-large;   
            }
        }

        ion-card.visitor{
            --background:url('/assets/img/visitor.png') no-repeat;
            background-size: cover;
            width: 80%;
            height: 22%;
            margin-left: auto;
            margin-right: auto;
            h1{
                font-family: "poppins";
                color: white;
                text-align: center;
                font-size: xx-large;
            }
        }

    }

