<ion-header>
  <ion-toolbar>

    <ion-buttons class="back" slot="end" (click)="nextpage()">
      <ion-icon name="log-in-outline" ></ion-icon>
    </ion-buttons>

    <ion-title>Anak2U</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col class="teacher">
        <ion-card class="teacher" routerLink="/home/teacher">
          <img src="/assets/img/teacher.png">
        </ion-card>
      </ion-col>
      <ion-col class="student">
        <ion-card class="student" routerLink="/home/student">
          <img src="/assets/img/student.png">
        </ion-card>
      </ion-col>

      <ion-card class="visitor" routerLink="/home/visitor">
        <img src="/assets/img/visitor.png">
      </ion-card>

    </ion-row>
  </ion-grid>

</ion-content>
