::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
    }

    ion-toolbar{
        --background: var(--primary);

       ion-title {
        color: var(--putih);
        font-size: large;
        font-family: "poppins";
        text-align: left;
       }

       .back{
        font-size: xx-large;
        color: var(--putih)
       }

    }
   
    ion-content {
        --background:url('/assets/img/bg.png') no-repeat center center/cover;
        overflow: auto;
        height: 100%;

        ion-card {
            --background:var(--putih);
            border-radius: 5px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
            width: 85%;
            height: 10%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            
            h1{
                font-family: "poppins";
                color: var(--hitam);
                text-align: center;
                font-size: large;
                margin-top: 0;
                margin-bottom: 0;
                letter-spacing: 2px;
            }
        }
    }
     
    
    
  
