<ion-header>
  <ion-toolbar >

    <ion-buttons class="back" slot="start" routerLink="/home">
      <ion-icon name="chevron-back-outline" ></ion-icon>
    </ion-buttons>

    <ion-title>Class List</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="teacher" routerLink="/home/student/student-list">
    <ion-card-header>
      <h1>1 Years</h1>
    </ion-card-header>
  </ion-card>

  <ion-card class="student" routerLink="/home/student/student-list">
    <ion-card-header>
      <h1>2 Years</h1>
    </ion-card-header>
  </ion-card> 

  <ion-card class="visitor" routerLink="/home/student/student-list">
    <ion-card-header>
      <h1>3 Years</h1>
    </ion-card-header>
  </ion-card>

  <ion-card class="teacher" routerLink="/home/student/student-list">
    <ion-card-header>
      <h1>4 Years</h1>
    </ion-card-header>
  </ion-card>

  <ion-card class="teacher" routerLink="/home/student/student-list">
    <ion-card-header>
      <h1>5 Years</h1>
    </ion-card-header>
  </ion-card>

  <ion-card class="teacher" routerLink="/home/student/student-list">
    <ion-card-header>
      <h1>6 Years</h1>
    </ion-card-header>
  </ion-card>

  <ion-card class="teacher" routerLink="/home/student/student-list">
    <ion-card-header>
      <h1>7 Years</h1>
    </ion-card-header>
  </ion-card>

  <ion-card class="teacher" routerLink="/home/student/student-list">
    <ion-card-header>
      <h1>8 Years</h1>
    </ion-card-header>
  </ion-card>

  <ion-card class="teacher" routerLink="/home/student/student-list">
    <ion-card-header>
      <h1>9 Years</h1>
    </ion-card-header>
  </ion-card>

  <ion-card class="teacher" routerLink="/home/student/student-list">
    <ion-card-header>
      <h1>10 Years</h1>
    </ion-card-header>
  </ion-card>

</ion-content>