/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: OpenSans;
    src: url('./assets/font/open-sans/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'quicksand';
    src: url('./assets/font/quicksand/Quicksand-Light.otf');
  }
  @font-face {
    font-family: 'walkway';
    src: url('./assets/font/cooper-hewitt/CooperHewitt-Light.otf');
  }
  @font-face {
    font-family: 'coolvetica';
    src: url('./assets/font/coolvetica/coolvetica rg.otf');
  }
  @font-face {
    font-family: 'bastaman';
    src: url('./assets/font/bastaman/Bastaman.ttf');
  }
  @font-face {
    font-family: 'nexa';
    src: url('./assets/font/nexa/Nexa-Heavy.ttf');
  }
  @font-face {
    font-family: 'heavitas';
    src: url('./assets/font/heavitas/Heavitas.ttf');
  }
  @font-face {
    font-family: "poppins";
    src: url('./assets/font/Poppins/Poppins-SemiBold.ttf');
}

